name: first-workflow

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Step1
        run: echo Step 1!

      - name: Step2
        run: echo Step 2!

  job2:
    name: Cowsays
    needs: job1
    runs-on: ubuntu-latest
    steps:
    - name: Ship it
      uses: mscoutermarsh/cowsays-action@master
      with:
        text: 'WTH is awesome!'
        color: 'cyan'
